fastapi==0.115.0
uvicorn==0.30.6
aiohttp==3.9.5
aiohttp-socks==0.8.4
beautifulsoup4==4.12.3
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
python-dotenv==1.0.1
PySocks==1.7.1
